header{
    margin-top:5rem;
    height: 90vh;
    width: 100vw;
    display: grid;
    place-items: center;
   background-image: url("/src/assets/specs.avif");
   background-repeat: no-repeat;
    transition:var(--transition);
    background-size: cover;
    
    
}
/* header::after{
    background: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(255, 255, 255, 0.47) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%);
} */
.header__container{
    display: flex;
    flex-direction: column;
}
.header__profile{
    width: 18rem;
    height: 22rem;
    border-radius: 9rem 9rem 2rem 2rem;
    overflow: hidden;
    
}
/* h1, h2,h3,h4,h5, h6,p{
    line-height:1.1;
    color:var(--color-white);
  } */
  h3{
    font-size:3rem;
  }
.header__container p{
    width: 35rem;
    margin:0.6rem 0 2rem;
    color: white;
    font-size: 1.2em;
}
.header__cta{
    display: flex;
    align-items: center;
    gap:1.2rem;

}
.header__socials{
    position: absolute;
    left: 0;
    bottom: 20;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.header__socials a{
    width: 1.8rem;
    aspect-ratio: 1/1;
    background: var(--color-light);
    color: var(--color-white);
    display: grid;
    place-items: center;
    border-radius:var(--border-radius-3);

}
.header__socials a:hover{
    background: var(--color-primary);
    transform:translatex(-0.5rem);

}
@media screen and(max-width:1024px) {
    header{
        margin-top:0;
        height:100vh;
    }
    
}
@media screen and(max-width:600px) {
    header__profile{
       width: 14rem;
       height: 17rem;
       max-width: 60%;
       max-height: 35vh;
    }
    .header__container p{
        width: 100%;
    }
    .header__cta{
        gap: 1rem;
    }
    .header__socials{
        display: none;
    }
}